{% extends 'base.html.twig' %}

{% block title %}New Personnality{% endblock %}

{% block body %}
    <h1>Create new Personnality</h1>

    {{ include('personnality/_form.html.twig') }}

    <a href="{{ path('app_personnality_index') }}">back to list</a>
{% endblock %}
