nav {
  --bleu-platon : #25366F;
  --blanc-statue : #FBFBFB ;
  --sable-grec :#E5CFA9 ; 
  --black-swan : #09101F;
}

.blog{
  padding-top: 1vh;
}

nav{
  padding: 1rem;
  font-family: 'Spartan';
  position: relative;
}

nav a{
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  color:var(--black-swan);
}

nav a:hover{
  color:#E5CFA9;
  text-decoration-line: underline;
}

nav svg {
 margin-left: 1rem;
}

nav input {
  height: 2.2rem;
  padding: 1.2rem 1.5rem 1.2rem 1rem;
  background: url(../icones/loupe.svg) no-repeat;
  background-position: 95%;
  border: solid 1.5px var(--bleu-platon);
  border-radius: 0.4rem;
  width: 20rem;
}

nav input::placeholder {
  color:#B3BEE6;
  font-weight: 400;
}

nav button {
  font-weight: 600;
  background-color: #FBFBFB;
  border: 2px solid var(--bleu-platon);
  border-radius: 0.4rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  color: var(--bleu-platon);
  margin-right: 4rem;
}

nav li, nav input, nav+a {
  margin-right: 2rem;
}

/*------------ SUB NAV --------------*/

.hidden{
  display: none;
}

.seen{
  display: block;
  height: 78vh;
  position: absolute;
  top: 95px;
  left: 0px;
  background:#25366F;
  color: #E5CFA9;
}

#modale{
  width: 100vw;
}

#modale .categorie{
  color: #E5CFA9;
  font-size: 20px;
  font-weight: bold;
}

.marge{
  margin-top: 40px;
}

.marge_between{
  margin-top: 20px;
}

#modale{
  color: #f3f3f3;
  margin-bottom: 7px;
  z-index: 3;
}

#modale .administratif{
  margin: 20px 0px;
}

#modale a{
  color: #f3f3f3;
  font-weight: 400;
}

#modale a:hover{
  color: #E5CFA9;
}

#modale li{
  margin-top: 10px;
}