body{
    font-family: 'Spartan';
    background-color: #fbfbfb;
}

/* BODY */ 

ul{
    padding: 0; 
    list-style: none; 
}


/* NAV */


/* nav{
    display: flex;
    padding: 20px 10px 20px 10px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color:#25366F;
}

nav button{
    color: #25366F;
    background-color: white;
    border-color: #25366F;
    border-radius: 10px;
} */


/* HEADER */
header{
    background-color: #25366F;
    position: relative;
}

header .container-fluid{
    background-image: url('../img/header_background.png');
    background-position: center;
    background-size: cover;
}

header h1{
    font-weight: bold;
    font-size: 60px;
    margin-top: 250px;
    margin-bottom: 40px;
}

header h2{
    font-weight: lighter;
}

header .btn{
    color: #25366F;
    background: #E5CFA9;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    border: none;
    margin-top: 40px;
    margin-bottom: 250px;
}

header .btn:hover{
    color: #E5CFA9;
    background-color: #25366F;
}

header svg {
    position: absolute;
    bottom: -8px;
    left: 0px;
    width: 100%;
}

/* MAIN */ 

/* VALABLE POUR LES 3 SECTIONS */

section h2, p{
    text-align: center;
    color: black;
    margin-top: 30px;
}


/* PREMIERE SECTION - SECTION QUOI*/

section#quoi h2{
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
}

section#quoi .plateforme, .qualite, .communaute{
    background-color: #25366F;
    text-align: center;
    color: #fbfbfb;
    border: solid #E5CFA9; 
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}

section#quoi .plateforme, .qualite, .communaute, h3{
    font-size: 20px;
}

section#quoi .plateforme{
    width: 300px;
}

section#quoi .qualite{
    width: 300px;
}

section#quoi .communaute{
    width: 300px;
}  

section#quoi img{
    margin: 30px 0px 50px 0px;
}

section#quoi .btn{
    color: #E5CFA9;
    background: #25366F;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

section#quoi .btn:hover{
    color: #25366F;
    background-color: #E5CFA9;
}


/* DEUXIEME SECTION - SECTION SAVOIRS */


section#savoirs .langues, .gastronomie, .art{
    background-color: white;
    text-align: center;
    border: solid #E5CFA9;
    padding: 50px;
}

section#savoirs{
    background-color: #25366F;
}

section#savoirs h2{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
}

section#savoirs .apprenez{
    color: #E5CFA9;
}

section#savoirs p{
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

section#savoirs img{
   height: 100px;
}

section#savoirs .categorie{
    color: #fbfbfb;
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
    margin: 30px;
}

span{
    font-weight: bold;
}

section#savoirs .btn{
    color: #25366F;
    background-color: #E5CFA9;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 60px;
}

section#savoirs .btn:hover{
    color:#E5CFA9;
    background-color: #25366F;
}
    

/* TROISIEME SECTION - SECTION TEMOIGNAGES */

section#temoignages h2{
    margin-top: 40px;
    font-weight: bold;
}

section#temoignages p{
    color: grey;
}

section#temoignages .btn{
    color: #E5CFA9;
    background: #25366F;
    font-weight: bold;
    border: none;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

section#temoignages .btn:hover{
    color: #25366F;
    background-color: #E5CFA9;
}


/* FOOTER */

footer h3{
    font-weight: bold;
}

footer{
    padding: 50px 0px 50px 0px;
    color: white;
    background-color: #25366F;
}
footer a{
    color: white;
    text-decoration: none;
}
footer .RS{
    margin-top: 25px;
    display: flex;
}
footer .RS img{
    margin-right: 40px;
}