body {
    font-family: 'spartan';
    background-color: #fbfbfb;
    font-variant-ligatures: no-common-ligatures;
}

input::placeholder{
    font-variant-ligatures: no-common-ligatures;
}

ul{
    padding: 0; 
    list-style: none; 
}

nav a:hover{
    color:#E5CFA9;
    text-decoration-line: underline;
}


/* NAV */

nav{
    background-color: #25366f;
}
nav li a{
    color: #fbfbfb;
}

nav a{
    color: #fbfbfb;
}

nav input{
    background-color: #fbfbfb;
    border: none !important;
}

/* MAIN */

form h2 {
    font-weight: bold;
    color: #fbfbfb;
    margin-bottom: 30px;
}

.formulaire {
    margin-top: 10em;
    margin-bottom: 20em;
    background-color: #25366F;
    border-radius: 25px;
    padding: 70px 60px;
}

.name {
    margin-left: 0px;
}


.mdp {
    position: relative;
}

.mdp img {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
}

.confmdp {
    position: relative;
}

.confmdp img {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
}

.inscription{
    color: #e5cfa9;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.inscription:hover{
    color: #fbfbfb;
}

.submit {
    background-color: #E5CFA9;
    color: #25366F;
    border-radius: 0.25rem;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 2px 2px 3px #202020;
}

.submit:hover {
    background-color: #fbfbfb;
}

.submit {
    text-decoration: none;
}

form input {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px;
    border: solid 2px;
    border-color: #E5CFA9;
    width: 100%;
}

.cgu input {
    height: 16px;
    width: 16px;
}

.cgu a {
    color: #fbfbfb;
    padding-left: 10px;
    font-size: 14px;
}

.agemin p {
    color: #fbfbfb;
    padding-left: 10px;
    font-size: 14px;
}

.agemin input {
    height: 16px;
    width: 16px;
}


/* POP-UP */

#titremodale {
    font-size: 40px;
    font-weight: bold;
    color: #25366F;
}

.modal-content {
    padding: 40px;
    border-radius: 20px;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
    font-family: "Spartan";
    color: #25366F;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    font-weight: 500;
    font-size: 16px;
    font-family: "Spartan";
    color: #25366F;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}


.btn{
    color: #E5CFA9;
    background-color: #25366F;
    padding: 10px 10px 10px 10px;
}

.btn:hover {
    color: #25366F;
    background-color: #E5CFA9;
}

.return {
    color: #25366f;
}


/* FOOTER */

footer h4{
    font-weight: bold;
}

footer{
    padding: 50px 0px 50px 0px;
    color: white;
    background-color: #25366F;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #E5CFA9;
}

footer .RS{
    margin-top: 25px;
    display: flex;
}

footer .RS img{
    margin-right: 40px;
}