<!doctype html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>Platon, donner pour apprendre</title>

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/nav.css">

</head>


<body>

  <!--------------- DEBUT DE LA NAV --------------->
  <!-- <nav>
    <img src="logo/platon_bleu.svg" alt="Logo Platon">
    <ul>
      <li> <a href="#">Comment ça marche ?</a></li>
      <li><a href="#">Catalogue des savoirs</a></li>
    </ul>

    <ul>
      <li><a href="#">Blog</a></li>
    </ul>

    <button>Connexion</button>

  </nav> -->


  <!--------------- FIN DE LA NAV --------------->


  <!--------------- DEBUT DU HEADER --------------->

  <header>

    <div class="container-fluid">
      <div class="container">
        <div class="row">

          <div class="titre text-center text-white">
            <h1>Échangez vos savoirs</h1>
            <h2>On a tous quelque chose à transmettre !</h2>
            <a class="btn shadow" href="#">Inscription</a>
          </div>
        </div>
      </div>
    </div>
    
    <svg fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-1.99998 142.507L960.955 0L1920 142.507H-1.99998Z" fill="#FBFBFB"/>
    </svg>
      
    
  </header>

  <!--------------- FIN DU HEADER --------------->


  <!--------------- DEBUT DU MAIN --------------->

  <main>

    <!--DEBUT DE LA PREMIERE SECTION-->

    <section id="quoi">

      <div class="container">
        <div class="row d-flex justify-content-around align-content-center">
          <h2>C'est quoi Platon ?</h2>

          <div class="col-12 col-md-3 plateforme">
            <img src="illustrations/billets.svg" alt="Billets">
            <h3>Une plateforme gratuite</h3>
          </div>

          <div class="col-12 col-md-3 qualite">
            <img src="illustrations/savoirs.svg" alt="savoirs">
            <h3>Des savoirs variés </br>et de qualité</h3>
          </div>

          <div class="col-12 col-md-3 communaute">
            <img src="illustrations/communaute.svg" alt="Communauté">
            <h3>Une communauté active</h3>
          </div>

        </div>

        <div class="text-center"><a class="btn shadow" href="#">En savoir plus</a></div>
      </div>

    

    </section>

    <!--FIN DE LA PREMIERE SECTION-->


    <!--DEBUT DE LA DEUXIEME SECTION-->

    <section id="savoirs">

      <div class="container">
        <div class="row d-flex justify-content-center align-content-center">
          <h2>Une multitude de savoirs</h2>
          <p class="apprenez">Apprenez des uns, transmettez aux autres.</p>

          <div class="col-12 col-md-3">
            <div class="langues">
              <img src="illustrations/planete_bleue.svg" alt="Anglais">
            </div>
            <p class="text-white">Anglais</p>
          </div>

          <div class="col-12 col-md-3">
            <div class="gastronomie"><img src="illustrations/gastronomie_bleu.svg" alt="Gastronomie">
            </div>
            <p class="text-white">Gastronomie</p>
          </div>

          <div class="col-12 col-md-3">
            <div class="art"><img src="illustrations/art_bleu.svg" alt="Art">
            </div>
            <p class="text-white">
              </pclass>Art</p>
          </div>

          <p class="categorie">Près de <span>60 catégories</span> à explorer !</p>
          
          <div class="text-center">
            <a class="btn shadow" href="#">Accéder au savoir
            </a>
          </div>

        </div>
      </div>
    </section>

    <!--FIN DE LA DEUXIEME SECTION-->


    <!--DEBUT DE LA TROISIEME SECTION-->

    <section id="temoignages">

      <div class="container">
        <div class="row">
          <h2>Témoignages</h2>

          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="img/theo.png" class="d-block w-3" alt="Théo">
                <div class="carousel-caption d-none d-md-block">
                  <h5>“Grâce à Platon, j’apprends à cuisiner avec Zoé. Les lasagnes n’ont plus de secret pour moi ! Et
                    j’adore donner des cours de guitare !”</h5>
                  <p>Théo, guitariste.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/anna.png" class="d-block w-3" alt="Anna">
                <div class="carousel-caption d-none d-md-block">
                  <h5>"Je suis très satistaite de la plateforme Platon ! J'ai enfin appris à dessiner comme un pro en
                    échange de mes cours de cuisine.</h5>
                  <p>Anna, spécialiste en cuisine du monde</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/louise.png" class="d-block w-3" alt="Louise">
                <div class="carousel-caption d-none d-md-block">
                  <h5>"Je remercie Platon pour m'avoir fait découvrir une multitude de savoirs. J'ai également rencontré des gens géniaux !"</h5>
                  <p>Louise, pianiste</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>
        <div class="text-center"><a class="btn shadow" href="#">Rejoindre la communauté !</a></div>
      </div>

    </section>

    <!--FIN DE LA TROISIEME SECTION-->

  </main>

  <!--------------- FIN DU MAIN --------------->


  <!--------------- DEBUT DU FOOTER --------------->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li>
              <h4>À propos</h4>
            </li>
            <li><a href="#">Qui sommes nous ?</a></li>
            <li><a href="#">Mention légales</a></li>
            <li><a href="#">CGU</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <ul>
            <li>
              <h4>Contact</h4>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Informations légales</a></li>
            <li><a href="#">Paramètres des cookies</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <ul>
            <li>
              <h4>Platon</h4>
            </li>
            <li><a href="#">Comment ça marche ?</a></li>
            <li><a href="#">La charte de Platon</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <img src="logo/platon_jaune.svg" alt="Logo Platon">
          <div class="RS">
            <a href="#"><img src="icones/facebook.png" alt="Logo Facebook"></a>
            <a href="#"><img src="icones/instagram.png" alt="Logo Instagram"></a>
          </div>
        </div>
      </div>

  </footer>

  <!--------------- FIN DU FOOTER --------------->


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>